openapi: 3.0.0
info:
  title: psirt
  description: >
    The Cisco Product Security Incident Response Team (PSIRT) openVuln API is a RESTful API that allows customers to obtain Cisco Security Vulnerability information in different machine-consumable formats. APIs are important for customers because they allow their technical staff and programmers to build tools that help them do their job more effectively (in this case, to keep up with security vulnerability information).

    For more information about the Cisco PSIRT openVuln API visit https://developer.cisco.com/site/PSIRT/discover/overview


    For detail steps on how to use the API go to: https://developer.cisco.com/site/PSIRT/get-started/getting-started.gsp


    This is a beta release of a swagger YAML for the Cisco PSIRT openVuln API


    To access the API sign in with your Cisco CCO account at http://apiconsole.cisco.com and register an application

    to recieve a client_id and a client_secret


    You can then get your token using curl or any other method you prefer.


    'curl -s -k -H "Content-Type: application/x-www-form-urlencoded" -X POST -d "client_id=<your_client_id>" -d "client_secret=<your_client_secret>" -d "grant_type=client_credentials" https://cloudsso.cisco.com/as/token.oauth2'


    You will receive an access token as demonstrated in the following example:
     '{"access_token":"I7omWtBDAieSiUX3shOxNJfuy4J6","token_type":"Bearer","expires_in":3599}'

    In Swagger, click on Change Authentication


    enter the text "I7omWtBDAieSiUX3shOxNJfuy4J6" (which is the token you received)


    then click on "Try this operation"
  contact: {}
  version: '0.0.4'
servers:
- url: https://api.cisco.com
  variables: {}
- url: https://cloudsso.cisco.com/as
  variables: {}
paths:
  /security/advisories/all:
    get:
      summary: SecurityAdvisoriesAll_GET
      description: >
        Used to obtain information about all published security advisories. By default the output is in JSON. To obtain the output in XML use the .xml extension. For example, /advisories/all.xml
      operationId: SecurityAdvisoriesAll_GET
      parameters: []
      responses:
        '200':
          description: Successful response
          headers: {}
          content: {}
      deprecated: false
      security:
      - oauth2:
        - read:advisories
  /security/advisories/cve/{cve_id}:
    get:
      summary: SecurityAdvisoriesCveByCveId_GET
      description: >
        Used to obtain an advisory using a given Common Vulnerability Enumerator (CVE). The `cve_id` format is CVE-YYYY-NNNN. For more information about CVE visit http://cve.mitre.org/
      operationId: SecurityAdvisoriesCveByCveId_GET
      parameters:
      - name: cve_id
        in: path
        description: CVE Identifier (i.e., CVE-YYYY-NNNN)
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          headers: {}
          content: {}
      deprecated: false
      security:
      - oauth2:
        - read:advisories
  /security/advisories/advisory/{advisory_id}:
    get:
      summary: SecurityAdvisoriesAdvisoryByAdvisoryId_GET
      description: >
        Used to obtain an advisory given its advisory ID `advisory_id` (i.e., cisco-sa-20180221-ucdm)
      operationId: SecurityAdvisoriesAdvisoryByAdvisoryId_GET
      parameters:
      - name: advisory_id
        in: path
        description: advisory ID
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          headers: {}
          content: {}
      deprecated: false
      security:
      - oauth2:
        - read:advisories
  /security/advisories/severity/{severity}:
    get:
      summary: SecurityAdvisoriesSeverityBySeverity_GET
      description: >
        Used to obtain all security advisories for a given security impact rating (critical, high, medium, or low).
      operationId: SecurityAdvisoriesSeverityBySeverity_GET
      parameters:
      - name: severity
        in: path
        description: Critical, High, Medium, Low
        required: true
        style: simple
        schema:
          allOf:
          - $ref: '#/components/schemas/severity'
          - description: Critical, High, Medium, Low
      responses:
        '200':
          description: Successful response
          headers: {}
          content: {}
      deprecated: false
      security:
      - oauth2:
        - read:advisories
  /security/advisories/severity/{severity}/lastpublished:
    get:
      summary: SecurityAdvisoriesSeverityLastpublished_GET
      description: >
        Used to obtain all security advisories for a given security impact rating (critical, high, medium, or low).
      operationId: SecurityAdvisoriesSeverityLastpublished_GET
      parameters:
      - name: severity
        in: path
        description: Used to obtain all advisories that have a security impact rating of critical
        required: true
        style: simple
        schema:
          allOf:
          - $ref: '#/components/schemas/severity'
          - description: Used to obtain all advisories that have a security impact rating of critical
      - name: startDate
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Successful response
          headers: {}
          content: {}
      deprecated: false
      security:
      - oauth2:
        - read:advisories
  /security/advisories/severity/{severity}/firstpublished:
    get:
      summary: SecurityAdvisoriesSeverityFirstpublished_GET
      description: >
        Used to obtain all security advisories for a given security impact rating (critical, high, medium, or low) and additionally filter based of firstpublished start date and enddate.
      operationId: SecurityAdvisoriesSeverityFirstpublished_GET
      parameters:
      - name: severity
        in: path
        description: Used to obtain all advisories that have a security impact rating of critical
        required: true
        style: simple
        schema:
          allOf:
          - $ref: '#/components/schemas/severity'
          - description: Used to obtain all advisories that have a security impact rating of critical
      - name: startDate
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Successful response
          headers: {}
          content: {}
      deprecated: false
      security:
      - oauth2:
        - read:advisories
  /security/advisories/year/{year}:
    get:
      summary: SecurityAdvisoriesYearByYear_GET
      description: >
        Used to obtain all security advisories that have were orginally published in a specific year `YYYY`.
      operationId: SecurityAdvisoriesYearByYear_GET
      parameters:
      - name: year
        in: path
        description: The four digit year.
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          headers: {}
          content: {}
      deprecated: false
      security:
      - oauth2:
        - read:advisories
  /security/advisories/latest/{number}:
    get:
      summary: SecurityAdvisoriesLatestByNumber_GET
      description: >
        Used to obtain all the latest security advisories given an absolute number. For instance, the latest 10 or latest 5.
      operationId: SecurityAdvisoriesLatestByNumber_GET
      parameters:
      - name: number
        in: path
        description: An absolute number to obtain the latest security advisories.
        required: true
        style: simple
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Successful response
          headers: {}
          content: {}
      deprecated: false
      security:
      - oauth2:
        - read:advisories
  /security/advisories/product:
    get:
      summary: SecurityAdvisoriesProduct_GET
      description: >
        Used to obtain all the advisories that affects the given product name.
      operationId: SecurityAdvisoriesProduct_GET
      parameters:
      - name: product
        in: query
        description: An product name to obtain security advisories that matches given product name.
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          headers: {}
          content: {}
      deprecated: false
      security:
      - oauth2:
        - read:advisories
  /security/advisories/ios:
    get:
      summary: SecurityAdvisoriesIos_GET
      description: >
        Used to obtain all advisories that affects the given ios version
      operationId: SecurityAdvisoriesIos_GET
      parameters:
      - name: version
        in: query
        description: IOS version to obtain security advisories
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          headers: {}
          content: {}
      deprecated: false
      security:
      - oauth2:
        - read:advisories
  /security/advisories/iosxe:
    get:
      summary: SecurityAdvisoriesIosxe_GET
      description: >
        Used to obtain all advisories that affects the given ios version
      operationId: SecurityAdvisoriesIosxe_GET
      parameters:
      - name: version
        in: query
        description: IOS version to obtain security advisories
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          headers: {}
          content: {}
      deprecated: false
      security:
      - oauth2:
        - read:advisories
components:
  schemas:
    severity:
      title: severity
      enum:
      - critical
      - high
      - medium
      - low
      type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://api.cisco.com/token.oauth2
          scopes:
            read:advisories: read advisories
security:
- oauth2: []
tags: []
